<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Custom Report Suite" verbose="10" parallel="classes" thread-count="4">
	<listeners>
		<listener class-name="qa.hs.framework.CustomReport" />
	</listeners>
	<parameter name="browser" value="chrome" />
	<parameter name="hubUrl" value="" />
	<parameter name="appUrl"
		value="http://djangofan.github.io/html-test-site/site/w1.html" />
	<parameter name="sauceUsername" value="" />
	<parameter name="sauceKey" value="" />
	<test name="Test1">
		<parameter name="textString1" value="This is a statement." />
		<parameter name="textString2" value="Can I ask a question?" />
		<classes>
	        <class name="qa.hs.framework.tests.SampleTest1" />
			<class name="qa.hs.framework.tests.SampleTest2" />
			<class name="qa.hs.framework.tests.SampleTest3" />
			<class name="qa.hs.framework.tests.SampleTest4" />
		</classes>
	</test>
	<test name="Test2">
		<parameter name="textString1" value="This is another statement." />
		<parameter name="textString2" value="Can I ask another question?" />
		<classes>
		</classes>
	</test>
</suite>
